/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 18/03/2022, 22:22:27
    Author     : alan
*/

table thead{
    background-color: #ffcccc;
}
table tbody tr:hover{
    background-color: #bababa;
}